* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(77, 197, 236);
    font-family: 'Roboto', sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.container {
    /* height: 42vh; */
    width: 35vw;
    background-color: white;
    border-radius: 0.4rem;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px gray;
}

button {
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    /* background-color: rgb(211, 103, 211); */
    background-color: rgb(10, 129, 168);
    border: none;
    color: white;
}

.row {
    margin: 1rem;
    margin-left: 0;

}

.btn:hover {
    box-shadow: 0px 0px 0px gray;
    font-size: 1.3rem;
}
