* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-color: #81ecec;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.note {
    background-color: white;
    width: 30vw;
    height: 30vw;
    margin: 10px;
    margin-top: 3.3rem;
    padding-bottom: 30px;
}

.note textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    padding: 10px;
    font-size: 1.3rem;
}

.note textarea:focus {
    outline: 0;
    border: 0;
}

.toolBar {
    width: 100%;
    height: 5vh;
    background-color: rgb(36, 34, 34);
    color: white;
    text-align: end;
    align-content: center;
}

.toolBar i {
    margin-right: 0.5rem;
    cursor: pointer;
}

#addBtn {
    background-color: black;
    color: white;
    right: 1rem;
    position: fixed;
    margin: 10px;
    padding: 0.5rem;
}